@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --text-light-color: white;
    --text-dark-color: #252b42;
    --text-semi-dark-color: #374754;
    --background-light-color: white;
    --background-dark-color: #252b42;
    --accent-color: #2091f9;

    scroll-behavior: smooth;
    font-family: Montserrat, sans-serif;
}

img {
    display: block;
    width: 100%;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.general-section {
    padding: 5px;
    position: relative;
}