.header__header-hero {
    color: var(--text-light-color);
    padding-bottom: 267px;
}

.header-hero__title {
    margin-top: 60px;
    padding: 0 18px;
}

.header-hero__subtitle {
    margin-top: 27px;
    padding: 0 32px;
}

.header-hero__subtitle-toggle {
    display: none;
}

.header-hero__try-btn {
    width: 53%;
    height: 52px;
    margin: 70px auto 0 auto;
    font-size: 1.25rem;
}

.header-hero__corners {
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(1px);
}

.header-corners__corner {
    width: 40%;
    background-color: var(--background-light-color);

    &:first-child {
        clip-path: polygon(0 0, 0 100%, 100% 100%);
    }

    &:last-child {
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
    }
}