.try-trial__description {
    margin-top: 168px;
    padding: 20px;
}

.try-trial-description__title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.4rem;
    text-align: center;
}

.try-trial-description__paragraph {
    margin: 27px auto 0 auto;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: center;
}

.try-trial-description__paragraph--toggle {
    display: none;
}

.try-trial-description__try-btn {
    width: 180px;
    height: 45px;
    font-size: 1rem;
    font-weight: bolder;
    margin: 50px auto 0 auto;
}

.try-trial__service-view {
    margin-top: 40px;
}

.try-trial-view__image {
    margin: 0 auto;
    width: 90%;
    height: 200px;
    background-color: black;
}