.header-hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*& > * {*/
    /*    flex-grow: 1;*/
    /*}*/
}

.header-hero__paragraph {
    width: 220px;
    margin: 20px auto 0 auto;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2rem;

    .header-hero__paragraph-toggle {
        display: none;
    }
}

.header-hero__title {
    width: 280px;
    margin: 50px auto 0 auto;
    font-size: 2.4rem;
    font-weight: 100;
    text-align: center;
}

.header-hero__try-btn {
    width: 170px;
    height: 38px;
    margin: 50px auto 236px auto;
}

.header-hero__corners {
    width: 100%;
    height: 20vw;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;

    .header-corners__corner {
        width: 40%;
        background-color: var(--background-light-color);

        &:first-child {
            clip-path: polygon(0 0, 0 100%, 100% 100%);
        }

        &:last-child {
            clip-path: polygon(0 100%, 100% 100%, 100% 0);
        }
    }
}