.contacts__description {
    margin-top: 130px;
}

.contacts-description__subtitle {
    padding: 0 46px;
}

.contacts__content {
    margin: 60px 0 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.contacts-content__information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.contacts-information__socials {
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.contacts-socials__social-item {
    width: 40px;
    padding: 4px;

    svg {
        width: 100%;
        fill: var(--accent-color);
    }
}

.contacts-information__contacts {
    padding: 18px 5px 18px 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.contacts-information__contact-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
        width: 40px;
        padding-right: 10px;
        flex-grow: 0;
        flex-shrink: 0;
        fill: var(--accent-color);
    }
}

.contacts-contact-item__paragraph {
    padding: 10px;
    word-break: break-word;
}

.contacts-information__map {
    width: 100%;
    max-width: 516px;
    height: 324px;
    display: none;
}

.contacts-content__form {
    width: 100%;
    max-width: 450px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    border: 1px solid var(--border-light-color);
    border-radius: 15px;
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.1);

    input {
        height: 54px;
    }

    .input-text {
        width: 100%;
        padding-left: 20px;
    }
}

.contacts-form__message-area {
    height: 190px;
    border-radius: 0;
    padding: 20px;
}

.contacts-form__btn {
    width: 170px;
}

@media (min-width: 1024px) {
    .contacts__content {
        padding: 0 50px;
        flex-direction: row-reverse;
    }

    .contacts-information__socials {
        width: 100%;
        justify-content: flex-start;
        order: 1;
    }

    .contacts-information__map {
        display: block;
    }

    .contacts-content__form {
        min-width: 450px;
    }
}

@media (min-width: 1200px) {
    .contacts__content {
        padding: 0;
        gap: 30px;
    }

    .contacts-information__contacts {
        flex-direction: row;
    }

    .contacts-information__contact-item {
        flex-direction: column;
        flex-grow: 1;

        svg {
            width: 35px;
            padding-right: 0;
        }

        &:nth-child(n + 2) {
            flex-shrink: 0;
        }
    }
}