.try-trial {
    padding: 30px 20px;
    margin-top: 98px;
}

.try-trial__title {
    margin-top: 60px;
    padding: 0 15px;
}

.try-trial__subtitle {
    margin-top: 27px;
    padding: 0 45px;
    color: var(--text-semi-dark-color);
}

.try-trial__subtitle--toggle {
    display: none;
}

.try-trial__try-btn {
    width: 53%;
    height: 60px;
    margin: 70px auto 0 auto;
}

.try-trial__service-image {
    display: block;
    margin: 60px auto 0 auto;
    width: 90%;
    height: 200px;
}