@import "global.css";
@import "controls.css";

@import "global.header-nav.css";
@import "index.header-hero.css";
@import "index.features.css";
@import "index.try-trial.css";
@import "index.subscription.css";
@import "index.partners.css";
@import "index.testimonials.css";
@import "index.pricing.css";
@import "index.contacts.css";
@import "global.footer.css";

.header {
    height: 650px;
    padding: 5px;
    position: relative;
    background-image: url("../img/index/header-hero.png");
    background-size: cover;
    background-position-x: 50%;
    background-clip: padding-box;
}