.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription__description {
    max-width: 650px;
    margin-top: 40px;
}

.subscription-description__title {
    margin-top: 17px;
}

.subscription-description__subtitle {
    padding: 0 30px;
    color: var(--text-semi-dark-color);
}

.subscription__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 95px 0 74px 0;
}

.subscription-content__image {
    width: 104%;
    max-width: 550px;
}

.subscription-content__container {
    width: 100%;
    margin-top: 80px;
    padding: 10px;
}

.subscription-content__description {
    display: none;
}

.subscription-additional-info__paragraph {
    margin-top: 10px;
}

.subscription-content__form {
    margin-top: 10px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    & > * {
        width: 100%;
        max-width: 353px;
        height: 54px;
        display: block;
    }
}

.subscription-form__email-input {
    font-size: 0.85rem;
    padding: 0 35px;
}

@media (min-width: 768px) {
    .subscription__description {
        display: none;
    }

    .subscription__content {
        margin-bottom: 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .subscription-content__container {
        width: 40%;
        min-width: 360px;
        max-width: 450px;
    }

    .subscription-content__description {
        display: block;
    }

    .subscription-content__additional-info,
    .subscription-content__form {
        padding: 10px;
    }

    .subscription-description__paragraph,
    .subscription-description__title,
    .subscription-additional-info__paragraph {
        text-align: left;   
    }

    .subscription-content__form {
        align-items: flex-start;
    }
}

@media (min-width: 1120px) {
    .subscription-content__form {
        padding-right: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .subscription-form__submit {
        width: 172px;
        flex-shrink: 0;
    }
}