.features {
    padding-bottom: 98px;
}

.features__description {
    max-width: 630px;
    margin: 0 auto;
}

.features__title {
    margin: 90px auto 0 auto;
}

.features__subtitle {
    padding: 0 32px;
    color: var(--text-semi-dark-color);
}

.features__subtitle--toggle {
    display: none;
}

.features__content {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-content__video-section {
    width: 92vw;
    min-width: 290px;
    max-width: 1200px;
    height: 50vw;
    min-height: 160px;
    max-height: 660px;
    margin: 0 auto;
    position: relative;

    background-image: url("../img/index/features-video-mobile.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 70%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    transition: background-image s ease-in-out;
}

.video-section__play-btn {
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    width: 62px;
    z-index: 5;

    circle {
        fill: var(--accent-color);
    }

    path {
        fill: var(--background-light-color);
    }
}

.features-content__features-list {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}

.feature-item {
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:last-child .feature-item__title {
        padding: 0 28px;
    }
}

.feature-item__icon {
    width: 46px;
    fill: var(--accent-color);
}

.feature-item__title {
    margin-top: 27px;
    padding: 0 14px;
}

.feature-item__paragraph {
    margin-top: 20px;
    padding: 0 20px;
    color: var(--text-semi-dark-color);
    text-align: center;
}

@media (min-width: 768px) {
    .features {
        padding-bottom: 52px;
    }

    .features__subtitle--toggle {
        display: inline;
    }
    
    .features__content {
        margin-top: 80px;
    }

    .features-content__video-section {
        margin-top: 132px;
        order: 1;
        background-image: url("../img/index/features-video-desktop.jpg");
        transition: background-image 0.5s ease-in-out;
    }

    .video-section__play-btn {
        top: calc(50% - 60px);
        left: calc(50% - 60px);
        width: 120px;
    }

    .features-content__features-list {
        margin-top: 0;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 0;
    }
}

@media (min-width: 1024px) {
    .features-content__features-list {
        gap: 52px;
    }
}