.features__title {
    margin: 90px auto 0 auto;
}

.features__subtitle {
    margin-top: 27px;
    padding: 0 32px;
    color: var(--text-semi-dark-color);
}

.features__subtitle--toggle {
    display: none;
}

.features__content {
    margin-top: 55px;
}

.features-content__video-section {
    height: 216px;
    margin: 0 auto;
    position: relative;
    padding: 0 16px;
}

.video-section__play-btn {
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    width: 62px;
    z-index: 5;

    circle {
        fill: var(--accent-color);
    }

    path {
        fill: var(--background-light-color);
    }
}

.video-section__preview-image {
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.features-content__features-list {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}

.feature-item {
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:last-child .feature-item__title {
        padding: 0 28px;
    }
}

.feature-item__icon {
    width: 46px;
    fill: var(--accent-color);
}

.feature-item__title {
    margin-top: 27px;
    padding: 0 14px;
}

.feature-item__paragraph {
    margin-top: 20px;
    padding: 0 20px;
    color: var(--text-semi-dark-color);
    text-align: center;
}