.header__header-hero {
    color: var(--text-light-color);
    padding-bottom: 267px;
}

.header-hero__container {
    max-width: 850px;
    margin: 0 auto;
}

.header-hero__title {
    margin-top: 60px;
    padding: 0 23px;
}

.header-hero__subtitle {
    margin-top: 27px;
    padding: 0 32px;
}

.header-hero__subtitle-toggle {
    display: none;
}

.header-hero__try-btn {
    width: 236px;
    height: 52px;
    margin: 70px auto 0 auto;
}

.header-hero__corners {
    width: 100%;
    height: 20vw;
    max-height: 330px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(1px);
}

.header-corners__corner {
    height: 100%;
    width: 40%;
    position: absolute;
    bottom: 0;
    background-color: var(--background-light-color);

    &:first-child {
        left: 0;
        clip-path: polygon(0 0, 0 100%, 100% 100%);
    }

    &:last-child {
        right: 0;
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
    }
}

@media (min-width: 768px) {
    .header-hero__title {
        font-size: 4rem;
        font-weight: 700;
        line-height: 4.5rem;
    }

    .header-hero__subtitle {
        padding: 0;
    }

    .header-hero__subtitle-toggle {
        display: inline;
    }
}

@media (min-width: 1000px) {
    .header__header-hero {
        padding-bottom: 358px;
    }

    .header-hero__title {
        margin-top: 80px;
        font-size: 4.6rem;
        line-height: 5.25rem;
    }

    .header-hero__try-btn {
        margin-top: 90px;
    }

    .header-corners__corner {
        width: 80%;
    }
}