<nav class="header__header-nav header-nav container">
  <ul class="header-nav__links header-links">
    <li class="header-links__link-item">
      <a href="#">Home</a>
    </li>
    <li class="header-links__link-item">
      <a href="#">Product</a>
    </li>
    <li class="header-links__link-item">
      <a href="#">Pricing</a>
    </li>
    <li class="header-links__link-item">
      <a href="#">About</a>
    </li>
    <li class="header-links__link-item">
      <a href="#">Contact</a>
    </li>
  </ul>
  <a
    class="header-nav__logo-container"
    href="index.html"
  >
    <img
      class="header-nav__logo-image"
      src="img/global/logo.png"
      alt="Logo Image"
    />
  </a>
  <ul class="header-nav__socials header-socials">
    <li class="header-socials__social-item">
      <a href="https://x.com/">
        <svg
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="img/global/icon/twitter.svg"
        ></svg>
      </a>
    </li>
    <li class="header-socials__social-item">
      <a href="https://www.facebook.com/">
        <svg
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="img/global/icon/facebook.svg"
        ></svg>
      </a>
    </li>
    <li class="header-socials__social-item">
      <a href="https://www.linkedin.com/">
        <svg
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="img/global/icon/linkedin.svg"
        ></svg>
      </a>
    </li>
  </ul>
  <button class="header-nav__burger header-burger">
    <span class="header-burger__line-container">
      <span class="header-burger__subline"></span>
      <span class="header-burger__subline"></span>
    </span>
    <span class="header-burger__line"></span>
    <span class="header-burger__line"></span>
  </button>
</nav>
