<footer class="footer container dark-theme">
  <div class="footer__info-container footer-info-container">
    <div class="footer-info-container__item footer-info-item">
      <h5 class="footer-info-item__title title-bold">Pages</h5>
      <ul class="footer-info-item__paragraph-items">
        <li class="footer-info-item__paragraph">
          <a href="#">Home</a>
        </li>
        <li class="footer-info-item__paragraph">
          <a href="#">Product</a>
        </li>
        <li class="footer-info-item__paragraph">
          <a href="#">Pricing</a>
        </li>
        <li class="footer-info-item__paragraph">
          <a href="#">About</a>
        </li>
        <li class="footer-info-item__paragraph">
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="footer-info-container__item footer-info-item">
      <h5 class="footer-info-item__title title-bold">Tomothy</h5>
      <ul class="footer-info-item__paragraph-items">
        <li class="footer-info-item__paragraph">Eleanor Edwards</li>
        <li class="footer-info-item__paragraph">Ted Robertson</li>
        <li class="footer-info-item__paragraph">Annette Russell</li>
        <li class="footer-info-item__paragraph">Jennie Mckinney</li>
        <li class="footer-info-item__paragraph">Gloria Richards</li>
      </ul>
    </div>
    <div class="footer-info-container__item footer-info-item">
      <h5 class="footer-info-item__title title-bold">Jane Black</h5>
      <ul class="footer-info-item__paragraph-items">
        <li class="footer-info-item__paragraph">Philip Jones</li>
        <li class="footer-info-item__paragraph">Marvin Mckinney</li>
        <li class="footer-info-item__paragraph">Colleen Russell</li>
        <li class="footer-info-item__paragraph">Marvin Hawkins</li>
        <li class="footer-info-item__paragraph">Bruce Simmmons</li>
      </ul>
    </div>
  </div>
  <div class="footer__contacts footer-contacts">
    <div class="footer-contacts__location footer-location">
      <svg
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="img/global/icon/location.svg"
      ></svg>
      <p class="footer-location__paragraph">7480 Mocking Bird undefined</p>
    </div>
    <div class="footer-contacts__phone footer-phone">
      <svg
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="img/global/icon/phone.svg"
      ></svg>
      <p class="footer-phone__paragraph">(239) 555-0108</p>
    </div>
    <ul class="footer-contacts__socials footer-socials">
      <li class="footer-socials__social-item">
        <a href="https://x.com/">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="img/global/icon/twitter.svg"
          ></svg>
        </a>
      </li>
      <li class="footer-socials__social-item">
        <a href="https://www.facebook.com/">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="img/global/icon/facebook.svg"
          ></svg>
        </a>
      </li>
      <li class="footer-socials__social-item">
        <a href="https://www.linkedin.com/">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="img/global/icon/linkedin.svg"
          ></svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
