<section class="contacts light-theme">
  <div class="contacts__content container padding-30-20">
    <div class="contacts__description contacts-description">
      <h3 class="contacts-description__title title">Contact Us</h3>
      <p class="contacts-description__subtitle subtitle">
        Most calendars are designed for teams.
      </p>
    </div>
    <div class="contacts__container contacts-container">
      <div class="contacts-container__information contacts-information">
        <ul class="contacts-information__socials contacts-socials">
          <li class="contacts-socials__social-item">
            <a href="https://x.com/">
              <svg
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="img/global/icon/twitter.svg"
              ></svg>
            </a>
          </li>
          <li class="contacts-socials__social-item">
            <a href="https://www.facebook.com/">
              <svg
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="img/global/icon/facebook.svg"
              ></svg>
            </a>
          </li>
          <li class="contacts-socials__social-item">
            <a href="https://www.linkedin.com/">
              <svg
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="img/global/icon/linkedin.svg"
              ></svg>
            </a>
          </li>
        </ul>
        <ul class="contacts-information__contacts contacts-contacts">
          <li class="contacts-information__contact-item contacts-contact-item">
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="img/global/icon/location.svg"
            ></svg>
            <p class="contacts-contact-item__paragraph">
              6386 Spring St undefined Anchorage, Georgia 12473 United States
            </p>
          </li>
          <li class="contacts-information__contact-item contacts-contact-item">
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="img/global/icon/phone.svg"
            ></svg>
            <p class="contacts-contact-item__paragraph">(843) 555-0130</p>
          </li>
          <li class="contacts-information__contact-item contacts-contact-item">
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="img/global/icon/letter.svg"
            ></svg>
            <p class="contacts-contact-item__paragraph">
              willie.jennings@example.com
            </p>
          </li>
        </ul>
      </div>
      <form
        class="contacts-container__form contacts-form"
        action="#"
        method="post"
      >
        <h3 class="contacts-form__title title-bold">Contacts Us</h3>
        <input
          class="contacts-form__name-input input-text"
          name="name"
          type="text"
          placeholder="Your Name"
        />
        <input
          class="contacts-form__email-input input-text"
          name="email"
          type="email"
          placeholder="Your Email"
        />
        <textarea
          class="contacts-form__message-area input-text"
          name="message"
          cols="30"
          rows="10"
          placeholder="Your Message"
        ></textarea>
        <input
          class="contacts-form__btn button button-text"
          type="submit"
          value="Send"
        />
      </form>
    </div>
  </div>
</section>
